<div class="jumbotron landing-fondo">
    <div class="container ">
      <div class="row">
        <div class="col-sm-12 m-4">
         <div> 
          <h1 class="landingefresh"> YoVoto tu voto seguro, tu voto secreto </h1>
          </div>
         <p class="landingefresht text-justify">
            YoVoto una aplicación funcional que pueda ser utilizada 
            para elecciones dentro de la facultad, la universidad y finalmente dentro 
            del país. yoVoto permite a los ciudadanos votar desde cualquier lugar a 
            través de dispositivos inteligentes, es decir, los ciudadanos no necesitan 
            presentarse a un centro de votaciones para realizar su voto, lo cual 
            también permite a ciudadanos que residen en el exterior del país realizar 
            su voto. 
             
         </p>
         <div style="align-items: center; text-align: center;">
         <button  class="btn bg-info my-2 my-sm-0" type="submit" routerLink="/register" style="color:white">
          Registrarse</button>
        </div>
        </div>
    </div>       
    </div>
  </div>

  <div class="container mt-4">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4 text-justify">
        <h2>YoVoto</h2>
        <p>YoVoto es un sistema de voto electrónico que permite a los ciudadanos del 
            país de manera segura y confiable votar a través de una página web o 
            teléfono inteligente. Este diseño facilita votar a personas localizadas en el 
            extranjero y en el territorio nacional utilizando el internet y dispositivos 
            móviles. Esta facilidad del voto sin embargo requiere mecanismos 
            especiales de seguridad y transparencia. Por lo que parte de los 
            requerimientos técnicos incluyen las garantías como: voto anónimo 
            (secreto) y voto único. 
            
        </p> 
         
      </div>
      <div class="col-md-4 text-justify">
        <h2>Voto Seguro </h2>
        <p>Te ayuda a encontrar las maneras para votar este año de forma segura y sin poner en riesgo tu salud. Las prácticas seguras para votar te protegen a ti, a tus seres queridos y a tu comunidad de la propagación de la COVID-19.

            Las opciones de votación dependen de tu estado, así como las fechas límite para enviar por correo la papeleta, la votación anticipada y la votación en persona el día de las elecciones.
        </p>
      </div>
      <div class="col-md-4 text-justify">
        <h2>Voto único</h2>
        <p> Bajo esta modalidad cada elector tiene un voto único el cual se va;ida a atraves de su dispositivo movil y su ip, ademas de eso se valida mas campos como el DPI.
        </p>  
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-justify">
        <img  style="width:100%; " src="../assets/voto1.jpg" alt="Photo of a Shiba Inu">
      </div>
      <div class="col-md-4 text-justify ">
        <img  style="width:100%" src="../assets/voto3.jpg" alt="Photo of a Shiba Inu">
      </div>
      <div class="col-md-4 text-justify">
        <img  style="width:100%" src="../assets/voto2.png" alt="Photo of a Shiba Inu">
      </div>
    </div>
    <hr>

  </div>