.landingefresh{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family:cursive;
    color:black;
}
.landingefresht{
    text-align: center;
    font-size: 20px;
    padding: 6%;
    vertical-align:middle;
    color:rgba(43, 41, 41, 0.842);
}

.landing-fondo{
    background: rgb(238, 238, 238);
}