<div id="login" style="min-height: 90%; background-color:white;">
    <div style="padding:2%; " >
    <div class="container" >
        <div id="login-row" class="row justify-content-center align-items-center" >
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" action="" method="post">
                        <h3 class="text-center text-info">Login</h3>
                        <div class="form-group m-2">
                            <label for="username" class="text-info">Email:</label><br>
                            <input type="text" name="username" id="username" class="form-control" [(ngModel)]="email">
                        </div>
                        <div class="form-group m-2">
                            <label for="password" class="text-info">Password:</label><br>
                            <input type="password" name="password" id="password" class="form-control" [(ngModel)]="password">
                        </div>
                        <div class="form-group m-2">
                            <label for="cui" class="text-info">cui:</label><br>
                            <input type="text" name="cui" id="cui" class="form-control" [(ngModel)]="cui">
                        </div>
                        <div class="form-group m-2">
                           <input type="submit" name="submit" class="btn btn-info btn-md" (click)="loginIn()" value="Login">
                        </div>
                        <div id="register-link" class="text-right">
                            <a class="text-info" routerLink="/register"> Registrate Aqui</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>