<div class="m-4">
    <div>
        <h1>Renap</h1>
        <h3>Validar</h3>
        <input type="text" name="validar" id="validar" class="form-control" [(ngModel)]="validar">
        <button type="button" class="btn btn-info" style="color: white;" (click)="validarRenap()">Validar</button>
        <h3 class="mt-3">Informacion</h3>
        <input type="text" name="informacion" id="informacion" class="form-control" [(ngModel)]="informacion">
        <button type="button" class="btn btn-info" style="color: white;" (click)="informacionRenap()">Ver informacion</button>
        <div class="mt-4">
            <span id="myTextarea"></span>
        </div>
        <h3 class="mt-3">Carga Masiva</h3>
        <div class="mt-2">
            <label>Subir Json</label><br>
            <input #file accept=".json" type="file" (change)="preview(file.files)" class="custom-file-input" id="imgFile">
        </div>
    </div>
    <div class="mt-4">
        <h1>Votos Fisicos</h1>
        <div class="mt-2">
            <label>Subir Json</label><br>
            <input #file2 accept=".json" type="file" (change)="preview2(file2.files)" class="custom-file-input" id="imgFile2">
        </div>
    </div>
    <div class="mt-4">
        <h1>Crear eleccion</h1>
        <label for="username" class="text-info">Titulo:</label><br>
        <input type="text" name="username" id="username" class="form-control" [(ngModel)]="tituloEleccion">
        <label for="username" class="text-info">Descripcion:</label><br>
        <input type="text" name="username" id="username" class="form-control" [(ngModel)]="descripcionEleccion">
        <label for="username" class="text-info">Fecha inicio:</label><br>
        <input type="date" name="username" id="username" class="form-control" [(ngModel)]="fechaInicio">
        <label for="username" class="text-info">Fecha fin:</label><br>
        <input type="date" name="username" id="username" class="form-control" [(ngModel)]="fechaFin">
        <button type="button" class="btn btn-info mt-2" style="color: white;" (click)="crearEleccion()">Crear Eleccion</button>
    </div>
    <div class="mt-4">
        <h1>Crear opcion</h1>
        <label for="username" class="text-info">Titulo:</label><br>
        <input type="text" name="username" id="username" class="form-control" [(ngModel)]="tituloOpcion">
        <label for="username" class="text-info">Eleccion:</label><br>
        <select class="form-select" name="elecciones" id="elecciones">
            <option [value]="item.id" *ngFor="let item of elecciones;" >{{ item.titulo }}</option>
        </select>
        <button type="button" class="btn btn-info mt-2" style="color: white;" (click)="crearOpcion()">Crear Eleccion</button>
    </div>
</div>
