<div class="d-flex justify-content-center cuatroscientos">
    <div class="  contecuatros" >
        <div class="row">
            <div class="col-sm-12 ">
                <div class=" text-center">
                    <div class="" >
                        <h1 style="font-size: 120px; color:#5bc0de; text-shadow: 3px 3px #7cbccf; margin:10%;" >
                            404</h1>
                    </div>
                    <div class="">
                        <h2 style="font-size: 40px; color:#5bc0de; text-shadow: 1px 1px #7cbccf;" >
                            Page not found</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>