<div>
    <div>
      <app-sidebar></app-sidebar>
    </div>
    <footer class="page-footer font-small blue pt-4">
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3 footer-fondo">Todos Los Derechos Reservados © e-Fresh 2021
      </div>
      <!-- Copyright -->
    
    </footer>
</div>