<div class="m-4">
    <h1> Listado de elecciones </h1>
    <div class="table-responsive-sm">
        <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Titulo</th>
                <th scope="col">Fecha inicio</th>
                <th scope="col">Fecha fin</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of reporte1;">
                <th scope="row">{{ item.id }}</th>
                <td>{{item.titulo}}</td>
                <td>{{item.fechaInicio}}</td>
                <td>{{item.fechaFin}}</td>
              </tr>
            </tbody>
        </table>
    </div>
    <h1> Resultado elecciones por tipo </h1>
    <div class="d-flex">
        <select class="form-select" name="elecciones" id="elecciones">
            <option [value]="item.id" *ngFor="let item of reporte1;" >{{ item.titulo }}</option>
        </select>
        <button type="button" class="btn btn-info" style="color: white;" (click)="Reporte2()">Buscar</button>
    </div>
    <div class="mt-4">
        <span id="myTextarea"></span>
    </div>
    <div id="chart" *ngIf="showReporte2">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [labels]="chartOptions.labels"
          [responsive]="chartOptions.responsive"
        ></apx-chart>
      </div>
      <h1> Resultado elecciones por departamento</h1>
      <div class="d-flex">
        <select class="form-select" name="elecciones" id="departamento">
            <option [value]="item.departamento" *ngFor="let item of departamentos;" >{{ item.nombre }}</option>
        </select>
        <button type="button" class="btn btn-info" style="color: white;" (click)="Reporte4()">Buscar</button>
    </div>
    <div class="d-flex">
      <div *ngIf="showReporte4">
        <select class="form-select" name="municipio" id="municipio">
          <option [value]="item.id" *ngFor="let item of municipios;" >{{ item.nombre }}</option>
        </select>
        <button type="button" class="btn btn-info" style="color: white;" (click)="Reporte5()">Ver Resultados</button>
      </div>
    </div>
    <div id="chart" *ngIf="showReporte5">
      <apx-chart
        [series]="chartOptions5.series"
        [chart]="chartOptions5.chart"
        [dataLabels]="chartOptions5.dataLabels"
        [plotOptions]="chartOptions5.plotOptions"
        [yaxis]="chartOptions5.yaxis"
        [legend]="chartOptions5.legend"
        [fill]="chartOptions5.fill"
        [stroke]="chartOptions5.stroke"
        [tooltip]="chartOptions5.tooltip"
        [xaxis]="chartOptions5.xaxis"
      ></apx-chart>
    </div>
</div>