<div id="login">
    
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" action="" method="post">
                        <h3 class="text-center  pt-5" style="color:rgb(9, 126, 126); font-weight:bolder;">Register</h3>
                        <div class="form-group">
                            <label for="username" class="text-info">Email:</label><br>
                            <input type="text" name="username" id="username" class="form-control" [(ngModel)]="email">
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Pin:</label><br>
                            <input type="password" name="password" id="password" class="form-control" [(ngModel)]="password">
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Confirmar Pin:</label><br>
                            <input type="password" name="passwordR" id="passwordR" class="form-control" [(ngModel)]="confirmPassword">
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Telefono</label><br>
                            <input type="text" name="passwordA" id="passwordA" class="form-control" [(ngModel)]="phoneNumber">
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">CUI</label><br>
                            <input type="text" name="passwordB" id="passwordB" class="form-control" [(ngModel)]="cui">
                        </div>
                        <div class="form-group">
                            <label for="pais" class="text-info">Pais</label><br>
                            <select class="form-select" name="pais" id="pais">
                                <option [value]="item.pais" *ngFor="let item of paises;" >{{ item.nombre }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Municipio</label><br>
                            <select class="form-select" name="municipio" id="municipio">
                                <option [value]="item.municipio" *ngFor="let item of municipios;" >{{ item.nombre }}</option>
                            </select>
                        </div>
                        <div class="form-group mt-2">
                            <label for="pais" class="text-info">Subir Foto Personal</label><br>
                            <input #file accept="image/*" type="file" (change)="preview(file.files)" class="custom-file-input" id="imgFile">
                        </div>
                        <div class="form-group mt-2">
                            <label for="pais" class="text-info">Subir Foto DPI</label><br>
                            <input #file accept="image/*" type="file" (change)="previewDPI(file.files)" class="custom-file-input" id="imgFile">
                        </div>
                        <div class="form-group mt-2">
                            <input type="submit" name="submit" class="btn btn-info btn-md" value="Register" (click)="register()">
                         </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>