<div class="m-4">
    <h1>Votar</h1>
    <div class="d-flex">
        <select class="form-select" name="elecciones" id="elecciones">
            <option [value]="item.id" *ngFor="let item of elecciones;" >{{ item.titulo }}</option>
        </select>
        <button type="button" class="btn btn-info" style="color: white;" (click)="getOpciones()">Buscar opciones</button>
    </div>
    <div *ngIf="showReporte4">
        <h3>Opciones</h3>
        <div class="d-flex">
            <select class="form-select" name="opciones" id="opciones">
                <option [value]="item.opcion" *ngFor="let item of opciones;" >{{ item.titulo }}</option>
            </select>
        </div>
        <button type="button" class="btn btn-info" style="color: white;" (click)="votar()">votar</button>
    </div>
</div>
